<div class="container mt-5" style="margin-top: 5em;">

  <div class="row">

    <div class="col">
      <div class="jumbotron">
        <div class="container">
          <h1>Input Simple</h1>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Favorite food (Empty)">
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="jumbotron">
        <div class="container">
          <h1>Placeholder y Label</h1>
          <mat-form-field [floatLabel]="'always'" class="example-full-width">
            <mat-label translate>Favorite Food</mat-label>
            <input matInput placeholder="Introduzca plato...">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

</div>
